@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9105 0.0270 337.0895);
  --foreground: oklch(0.4712 0 0);
  --card: oklch(0.9050 0.0453 69.3592);
  --card-foreground: oklch(0.4712 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.4712 0 0);
  --primary: oklch(0.6077 0.1585 338.6682);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.7756 0.0602 185.1769);
  --secondary-foreground: oklch(0.3211 0 0);
  --muted: oklch(0.8689 0.0515 196.2431);
  --muted-foreground: oklch(0.5795 0 0);
  --accent: oklch(0.8622 0.0659 70.5139);
  --accent-foreground: oklch(0.3211 0 0);
  --destructive: oklch(0.6954 0.1420 10.4317);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.6077 0.1585 338.6682);
  --input: oklch(0.9189 0 0);
  --ring: oklch(0.6862 0.1425 341.1360);
  --chart-1: oklch(0.6862 0.1425 341.1360);
  --chart-2: oklch(0.8140 0.0762 195.7586);
  --chart-3: oklch(0.8622 0.0659 70.5139);
  --chart-4: oklch(0.7827 0.1041 339.3235);
  --chart-5: oklch(0.6039 0.1670 343.1581);
  --sidebar: oklch(0.8871 0.0493 336.6276);
  --sidebar-foreground: oklch(0.3211 0 0);
  --sidebar-primary: oklch(0.6391 0.1880 343.1976);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.8034 0.1068 337.8267);
  --sidebar-accent-foreground: oklch(0.3211 0 0);
  --sidebar-border: oklch(0.9061 0.0445 299.7702);
  --sidebar-ring: oklch(0.6391 0.1880 343.1976);
  --font-sans: Poppins, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.4rem;
  --shadow-2xs: 3px 3px 0px 0px hsl(316.0396 43.7229% 54.7059% / 0.50);
  --shadow-xs: 3px 3px 0px 0px hsl(316.0396 43.7229% 54.7059% / 0.50);
  --shadow-sm: 3px 3px 0px 0px hsl(316.0396 43.7229% 54.7059% / 1.00), 3px 1px 2px -1px hsl(316.0396 43.7229% 54.7059% / 1.00);
  --shadow: 3px 3px 0px 0px hsl(316.0396 43.7229% 54.7059% / 1.00), 3px 1px 2px -1px hsl(316.0396 43.7229% 54.7059% / 1.00);
  --shadow-md: 3px 3px 0px 0px hsl(316.0396 43.7229% 54.7059% / 1.00), 3px 2px 4px -1px hsl(316.0396 43.7229% 54.7059% / 1.00);
  --shadow-lg: 3px 3px 0px 0px hsl(316.0396 43.7229% 54.7059% / 1.00), 3px 4px 6px -1px hsl(316.0396 43.7229% 54.7059% / 1.00);
  --shadow-xl: 3px 3px 0px 0px hsl(316.0396 43.7229% 54.7059% / 1.00), 3px 8px 10px -1px hsl(316.0396 43.7229% 54.7059% / 1.00);
  --shadow-2xl: 3px 3px 0px 0px hsl(316.0396 43.7229% 54.7059% / 2.50);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2521 0.0228 215.2084);
  --foreground: oklch(0.9019 0.0229 341.3595);
  --card: oklch(0.2916 0.0230 209.6686);
  --card-foreground: oklch(0.9019 0.0229 341.3595);
  --popover: oklch(0.2916 0.0230 209.6686);
  --popover-foreground: oklch(0.9019 0.0229 341.3595);
  --primary: oklch(0.8622 0.0659 70.5139);
  --primary-foreground: oklch(0.2521 0.0228 215.2084);
  --secondary: oklch(0.7616 0.0721 353.5831);
  --secondary-foreground: oklch(0.2521 0.0228 215.2084);
  --muted: oklch(0.2664 0.0057 236.7512);
  --muted-foreground: oklch(0.7616 0.0721 353.5831);
  --accent: oklch(0.6574 0.0854 346.4787);
  --accent-foreground: oklch(0.9019 0.0229 341.3595);
  --destructive: oklch(0.6562 0.1597 340.2135);
  --destructive-foreground: oklch(0.2521 0.0228 215.2084);
  --border: oklch(0.3918 0.0284 224.5009);
  --input: oklch(0.3079 0.0234 213.9028);
  --ring: oklch(0.6698 0.0784 186.8316);
  --chart-1: oklch(0.6698 0.0784 186.8316);
  --chart-2: oklch(0.7616 0.0721 353.5831);
  --chart-3: oklch(0.6574 0.0854 346.4787);
  --chart-4: oklch(0.4370 0.0608 196.7091);
  --chart-5: oklch(0.2664 0.0057 236.7512);
  --sidebar: oklch(0.2326 0.0208 217.6648);
  --sidebar-foreground: oklch(0.9391 0.0035 247.8598);
  --sidebar-primary: oklch(0.6391 0.1880 343.1976);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.8034 0.1068 337.8267);
  --sidebar-accent-foreground: oklch(0.2827 0.0190 238.8636);
  --sidebar-border: oklch(0.3736 0.0203 245.5402);
  --sidebar-ring: oklch(0.6391 0.1880 343.1976);
  --font-sans: Poppins, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.4rem;
  --shadow-2xs: 3px 3px 0px 0px hsl(197.1429 20.8955% 26.2745% / 0.50);
  --shadow-xs: 3px 3px 0px 0px hsl(197.1429 20.8955% 26.2745% / 0.50);
  --shadow-sm: 3px 3px 0px 0px hsl(197.1429 20.8955% 26.2745% / 1.00), 3px 1px 2px -1px hsl(197.1429 20.8955% 26.2745% / 1.00);
  --shadow: 3px 3px 0px 0px hsl(197.1429 20.8955% 26.2745% / 1.00), 3px 1px 2px -1px hsl(197.1429 20.8955% 26.2745% / 1.00);
  --shadow-md: 3px 3px 0px 0px hsl(197.1429 20.8955% 26.2745% / 1.00), 3px 2px 4px -1px hsl(197.1429 20.8955% 26.2745% / 1.00);
  --shadow-lg: 3px 3px 0px 0px hsl(197.1429 20.8955% 26.2745% / 1.00), 3px 4px 6px -1px hsl(197.1429 20.8955% 26.2745% / 1.00);
  --shadow-xl: 3px 3px 0px 0px hsl(197.1429 20.8955% 26.2745% / 1.00), 3px 8px 10px -1px hsl(197.1429 20.8955% 26.2745% / 1.00);
  --shadow-2xl: 3px 3px 0px 0px hsl(197.1429 20.8955% 26.2745% / 2.50);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
